# Unix
alias tlf="tail -f"

# git
alias gcd="git checkout dev"

# Bundler
alias b="bundle"

# Tests and Specs
alias t="ruby -I test"
alias s="zeus rspec"
alias cuc="zeus cucumber"

# Rubygems
alias gi="gem install"
alias giv="gem install -v"

# Rails
alias r="zeus"
alias rk="zeus rake"
alias rr="zeus rake routes"
alias rs="zeus server"
alias rc="zeus console"
alias z="zeus"
alias find="gfind"
