[user]
  name = Maxim Derbin
  email = maxim@derbin.io
  signingkey = 9109EFAF74E57221
[github]
  user = maximderbin
[color]
  ui = true
[core]
  editor = /usr/local/bin/vim
  excludesfile = ~/.gitignore
  ignorecase = false
[merge]
  tool = vimdiff
  conflictstyle = diff3
  summary = true
[merge "bundlelock"]
  name = lock Gemfile
  driver = bundle install
[merge "bundle"]
  name = bundle
  driver = bundle
[merge "railsschema"]
  name = newer Rails schema version
  driver = "ruby -e '\n\
    system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
    b = File.read(%(%A))\n\
    b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n>+ .*/) do\n\
      %(ActiveRecord::Schema.define(:version => #{[$1, $2].max}) do)\n\
    end\n\
    File.open(%(%A), %(w)) {|f| f.write(b)}\n\
    exit 1 if b.include?(%(<)*%L)'"
